# Ignore node_modules
node_modules/

# Optional: Ignore logs, environment files, and OS/IDE files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
Thumbs.db
.idea/
.vscode/
package-lock.json


